cycler==0.10.0
json-tricks==3.8.0
matplotlib==2.0.2
numexpr==2.6.2
numpy==1.13.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scikit-learn==0.18.2
scipy==0.19.1
six==1.10.0
tqdm==4.15.0
Flask==0.12.2
Flask-API==1.0
Jinja2==2.9.6
MarkupSafe==1.0
Werkzeug==0.12.2
click==6.7
itsdangerous==0.24
jsonpickle==0.9.5
